# C++.gitignore from github
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
\#*\#

# dependency files - anywhere
*.dep

# build folders - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
linuxming*/
SiCortex*Gcc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

# ignore log files
log_*
log.*

# add ignore for files in CFD/
test_mix/*/CFD/constant/polyMesh/
test_mix/*/CFD/processor*/
test_mix/*/CFD/0.*/
test_mix/*/CFD/octave/*.png
test_mix/*/CFD/octave/*.eps
test_mix/*/CFD/octave/octave-workspace
test_mix/*/CFD/postProcessing/

# add ignore for files in DEM/
test_mix/*/DEM/post/restart/*
test_mix/*/DEM/post/*

# add ignore for origin file
aaorig_*
aaorig.*